html{
    background-color: #dbf8f8;
    font-family: 'Courier New', Courier, monospace;
}
header, main, body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

body {
    gap: 10px;
    width: 100%;
}

h1, h2, h3 {
    text-align: center;
    width: 100%;
}

h1{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px red;
    font-style: oblique;
}

h2{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
 

img{
    width: 1000px;
    height: auto;
}

ul {
    display: inline-block;
    text-align: center;
    padding-left: 0;
}

li {
    color: #fb09c2; 
}

li a {
    color: #fb09c2; 
    text-decoration: none; 
}
h3{
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px #000000;
}

.images img{
    width: 800px;
    height: 0 auto;
}

.side-contents {
    background-color: #02364c;
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 30px; 
    max-width: 1000px;
    margin: 20px auto;
    text-align: left;
    color: #dbf8f8;
    padding: 20px;
}

.title-contents {
    flex: 1;
    width: 50%; 
}

.side-image {
    flex: 1;
    width: 50%; 
    max-width: 500px; 
    height: auto;
    object-fit: cover; 
}

hr {
    width: 100%;        
    border: 0;        
    border-top: 2px solid #02364c; 
    margin: 20px 0;      
}

p {
    margin-top: 5px; 
    margin-bottom: 5px;
    line-height: 1.6;  
    text-align: left; 
    width: 100%;    
    max-width: 800px; 
    margin: 10px auto;
}

