html{
    background-color: #dbf8f8;
    font-family: 'Courier New', Courier, monospace;
}

body{
    text-align: center;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
}

h1{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px red;
    font-style: oblique;
}

h2{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
 

img{
    width: 1000px;
    height: auto;
}

ul {
    display: inline-block;
    text-align: center;
    padding-left: 0;
}

li {
    color: #fb09c2; /* nokta rengi */
}

li a {
    color: #fb09c2; /* link yazı rengi */
    text-decoration: none; /* isteğe bağlı */
}
h3{
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px #000000;
}

.images img{
    width: 800px;
    height: auto;
}

.side-contents{
    background-color: #02364c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width: 800;
    margin: 0 auto;
    text-align: left;
    color: #dbf8f8;
}

.title-contents{
    flex: 1;
}

.side-image{
    max-width: 300;
    height: auto;
}

